# 1. Virtual Environment
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# 2. Environment Variables
.env
*.env

# 3. Editor & OS-specific Files
.vscode/
.idea/
.DS_Store

# 4. data
content/

# Ignore Keras models
*.keras
saved_model/

# Ignore YOLO models
*.pt

# Ignore Jupyter Notebook files
*.ipynb


